@model string
@{
}
<h2>Make that tab easy to read now!</h2>
<h3>Current Link: @Model</h3>
<form>
    <label for="link">Tab Link</label>
    <input type="text" name="link" />
    <button type="submit">Convert</button>
</form>
<h3>or search a tab</h3>
<form>
    <label for="name">Tab Link</label>
    <input type="text" name="name" />
    <button type="submit">Convert</button>
</form>
